
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

main {
    padding: 2em;
}

#subject-listings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.subject {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 90%; 
}

.subject:hover {
    transform: scale(1.05);
}

.subject-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 8px;
}

.pre-requisite-knowledge {
    font-style: italic;
    color: #777;
    margin-bottom: 8px; 
}

.learn-button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end; 
}

.learn-button:hover {
    background-color: #45a049;
}
